<section class="list">

    <a href="detail.html" class="list-item">
        <img src="images/zilte.jpg">
        <div class="name">Zilte <sup>***</sup></div>
        <div class="city">Sat 20 Aug 2022, 13:30</div>
    </a>

</section>
