<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/<%= stylesheet %>">
</head>
<body>
    <header>
        <a href="/" class="brand">RestoReserve</a>
        <form class="search"><input type="search"><button type="submit">Zoeken</button></form>
        <div class="user">
            <a href="/afspraken">Mijn afspraken <span class="badge">2</span></a>
        </div>
    </header>

    <main>
        <%- body %>
    </main>

    <footer>
        &copy; RestoReserve - VreyeJoran - Arteveldehogeschool
    </footer>
</body>
</html>